@CHARSET "UTF-8";
	*{
			margin:0;
			padding:0;
		}
		body{
			background:#f6f6f6;
		}
		ul{
			list-style:none;	
		}
		#page_buttom{
		background:#666666;
			margin:20 80;
		}
		.l_div_top{
			width:180px;
			height:150px;
			margin-top:10px;
		}
		.img{
			width:160px;
			height:120px;
			margin-top:20px;
			margin-left:20px;
		}
		.pos{
			width:200px;
			height:250px;
			background:rgb(82,195,221);
			margin:30px;
			float:left;
		}
		.clear{
			clear:both;
		}
		.context{
			margin-left:40px;
		}
		.price{
			margin-left:60px;
			color:pink;
		}
		.discount strong{
			margin-left:60px;
			color:red;
		}
		.discount span{
			margin-left:20px;
		}
		a:link{
			color:#FF0000;
			text-decoration:none;
		}
		a:visited{
			color:#00FF00;
			text-decoration:none;
		}
		a:hover{
			color:#FF00FF;
			text-decoration:none;
		}
		a:active{
			color:#0000FF;
		}