body {
    color: #333;
    font: 12px/1.5 微软雅黑, tahoma,arial,'Hiragino Sans GB',宋体,sans-serif;
}
input, select, button, h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-family: inherit;
}
input, select, button, h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-family: inherit;
}
i, em {
    font-style: normal;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
 
a, img, button, input, select {
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}
select{
			padding:5px 0;
}

.base_clear, .cart_top::after, .cart_detail .cart_title::after, .cart_list .item_sub::after, .cart_list .num_wrap::after, .hinter_gift .gift_item::after, .hinter_gift_select .gift_item::after, .active_list ul li::after, .item_detail::after, .activity_top::after, .package_top::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}
.cart_top {
    background-color: #fff;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 20px;
}
.cart_top .cart_top_inner {
    width:1200px;
    margin:0 auto;
    font-weight:normal;
}
.cart_top .cart_address{
	float:right;
    background-color: #fff;
    width:570px;
    margin-top: 26px;
}

.cart_top .cart_address .address_wrap{
	padding-left: 10px;
}
.address_wrap{
	position: relative;
    float: left;
    height: 28px;
    line-height: 26px;
    z-index: 49;
}
.cart_top .cart_address .address_hinter{
	float:left;
}
.address_wrap .address_hinte{
	height: 28px;
    line-height: 28px;
}
.cart_top .cart_address .address_selected{
	float: right;
    border: 0;
}
.address_wrap .address_selected{
   display: inline-block;
   position: relative;
   width:500px;
   height: 28px;
   line-height: 28px;
   padding:0 10px 0 10px;
   overflow: hidden;
}
.address_selected .outer{
	width:100%;
	height: 28px;
    line-height: 28px;
}
.cart_top .cart_title {
    float: left;
    font-size: 32px;
    line-height: 80px;
    color: #333;
    font-weight: normal;
}
.cart_body {
    width: 1200px;
    margin: 0 auto;
}
.cart_detail{
	width:1200px;
	margin-bottom:50px;
}
.cart_detail .cart_title_wrap{
	border: 1px solid #e9e9e9;
    background-color: #fafafa;
	height: 40px;
    line-height: 40px;
    color: #aaa;
}
.cart_detail .cart_title_wrap .cart_choose {
    width: 114px;
    padding: 0 10px 0 20px;
    color: #333;
}
.cart_detail .cart_title_wrap li {
    float: left;
}
.cart_detail .cart_title_wrap .cart_choose .item_choose_wrap {
    float: left;
    margin: 13px 10px 0 0;
}
.item_choose_wrap {
    width: 12px;
    height: 12px;
    border: 1px solid #c8c8c8;
    position: relative;
    z-index: 3;
    background-color: #fff;
    -webkit-border-radius: 1px;
}
.item_choose_wrap .item_choose_checked {
    opacity: 1;
    background-color: #fff;
}
.item_choose_wrap .item_choose {
    position: absolute;
    z-index: 3;
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    background:url(/resources/front/images/cart_sprite.png)no-repeat;
    display: inline-block;
    background-position: -10px -90px;
}
.cart_detail .cart_title_wrap .cart_product {
    width: 315px;
}
.cart_detail .cart_title_wrap li {
    float: left;
}
.cart_detail .cart_title_wrap .cart_sku, .cart_detail .cart_title_wrap .cart_price, .cart_detail .cart_title_wrap .cart_num, .cart_detail .cart_title_wrap .cart_total {
    width: 160px;
}
.cart_detail .cart_title_wrap .cart_operation {
    width: 99px;
}
.cart_list .cart_item {
    border: 1px solid #ccc;
    margin-top: 20px;
}
.cart_list .item_title .item_choose_wrap {
    float: left;
    margin: 13px 10px 0 0;
}
.item_choose_wrap .item_choose{
   opacity: 0;
   position: absolute;
  z-index: 3;
  width: 12px;
  height: 12px;
  top: 0;
  left: 0;
  background:url(/resources/front/images/cart_sprite.png)no-repeat;
  display: inline-block;
  background-position: -10px -90px;
}
.cart_list .item_title {
    background-color: #fafafa;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}
.cart_list .shop_detail {
    margin-left: 24px;
}
.item_choose_wrap {
    width: 12px;
    height: 12px;
    border: 1px solid #c8c8c8;
    position: relative;
    z-index: 3;
    background-color: #fff;
    -webkit-border-radius: 1px;
}
.cart_list .shop_detail .icon_mall {
	  background:url(/resources/front/images/cart_sprite.png)no-repeat;
    background-position: -20px -74px;
}
.cart_list .shop_detail .icon_shop{
   display: inline-block;
   height: 16px;
   width: 16px;
   position: relative;
   top: 4px;
}
.item_choose_wrap .item_choose_checked{
	opacity: 1;
    background-color: #fff;
}
/* 伪元素 */
/* .base_clear, .cart_top::after, .cart_detail .cart_title::after, .cart_list .item_sub::after, .cart_list .num_wrap::after, .hinter_gift .gift_item::after, .hinter_gift_select .gift_item::after, .active_list ul li::after, .item_detail::after, .activity_top::after, .package_top::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
} */
.cart_body{
	width:1200px;
	margin:0 auto;
	margin-bottom:30px;
}
.item_detail{
	position: relative;
 background-color: #fff;
 border-top: 1px solid #ccc;
 color: #333;
 font-size: 12px;
 line-height: 18px;	
}
.item_sub_selected{
	background-color: #fffceb;
	border-bottom:1px soild #333;
}
 
.cart_list .item_sub{
	position: relative;
	z-index: auto;
    padding: 0 20px;
}
.cart_list .cart_choose{
	position: relative;
	width: 14px;
	padding:20px 20px 0 0;
	z-index: 3;
}
.cart_list .cart_invalid, .cart_list .cart_choose, .cart_list .cart_img, .cart_list .cart_product, .cart_list .cart_sku, .cart_list .cart_price, .cart_list .cart_num, .cart_list .cart_total, .cart_list .cart_operation {
    float: left;
    padding: 10px 0;
}
.item_choose_wra{
	width: 12px;
   height: 12px;
    border: 1px solid #c8c8c8;
   position: relative;
   z-index: 3;
   background-color: #fff;
   -webkit-border-radius: 1px;
}
.item_choose_wrap .item_choose{
	opacity: 0;
    position: absolute;
    z-index: 3;
    width: 12px;
    height: 12px;
   top: 0;
   left: 0;
   backround:url(/resources/front/images/cart_sprite.png)no-repeat;
   display: inline-block;
   background-position: -10px -90px;
}
.cart_list .cart_img {
    width: 90px;
}
.cart_list .cart_invalid, .cart_list .cart_choose, .cart_list .cart_img, .cart_list .cart_product, .cart_list .cart_sku, .cart_list .cart_price, .cart_list .cart_num, .cart_list .cart_total, .cart_list .cart_operation {
    float: left;
    padding: 20px 0;
}
.cart_list .cart_img img{
	width: 78px;
    height: 78px;
    border: 1px solid #eee;
    margin-left:20px;
}
.cart_list .cart_product{
	width:205px;
	padding-right: 90px;
	padding-left: 0;
    height: 100px;
    overflow: hidden;
    margin-left:20px;
    float:left;
    padding:20px 0;
}
.cart_list .cart_product span{
	text-decoration: none;
    color: #333;
    font: 12px/1.5 微软雅黑, tahoma,arial,'Hiragino Sans GB',宋体,sans-serif;
    line-height: 18px;
}
.cart_list .cart_sku{
	width:160px;
	float: left;
    padding: 20px 0;
    color: #333;
   font-size: 12px;
   line-height: 18px;
    margin-left:80px;
}
.cart_list .sku_color, .cart_list .sku_spec, .cart_list .price_old, .cart_list .price_new, .cart_list .operation_collect, .cart_list .operation_delete {
    display: block;
}
.cart_list .cart_price{
	width:160px;
	float: left;
    padding: 20px 0;
}
.cart_list .price_new{
	font-weight: bolder;
}
.cart_list .price_old {
    color: #a9a9a9;
    text-decoration: line-through;
}

.cart_list .active_wrap{
	display: block;
    position: relative;
    margin-top: 6px;
    cursor: pointer;

}
.cart_list .cart_price div:first-child {
    margin-bottom: 4px;
}
.cart_list .tag_active{
	display: inline-block;
color: #f60;
font-size: 12px;
line-height: 20px;
height: 20px;
padding: 0 6px;
cursor: pointer;
border: 1px solid #f60;
border-radius: 2px;
}
.cart_list .tag_active .tag_arrow{
	display: inline-block;
	width: 8px;
    height: 6px;
    background:url(/resources/front/images/cart_sprite.png)no-repeat;
    background-position: 0 -92px;
margin-left: 6px;
cursor: pointer;
position: relative;
}
.cart_list .tag_reduce{
	margin-top: 6px;
    color: #f60;
    cursor: pointer;
    display: inline-block;
}
.cart_list .cart_num{
	width:160px;
	float: left;
    padding: 20px 0;
}
.cart_list .num_wrap{
	width:82px;
	text-align: center;
}
.cart_list .item_sub_selected .minus{
	background-color: #fff;
}
.num_wrap .minus{
	position: relative;
	cursor: pointer;
}
.num_wrap_inline span{
	width: 22px;
    height: 22px;
}
.num_wrap span{
	float: left;
    line-height: 28px;
    border: 1px solid #d6d6d6;
    text-align: center;
    
}
.minus .inner{
	background:url(/resources/front/images/atom_sprite.png) no-repeat;
	background-position:-201px -101px;
}
.num_wrap_inline .minus .inner{
	width: 10px;
    height: 10px;
    position: relative;
    top: 7px;
    left: 7px;
    border: 0;
}
.num_wrap_inline .num{
	height:22px;
	line-height:22px;
	width: 36px;
}
.num_wrap .num{
	width:34px;
	border-radius: 0;
	border: 1px solid #d6d6d6;
	background: #fff;
    border-left: 0;
    border-right: 0;
    text-align: center;
    margin:0;
    vertical-align: baseline;
    
}
.num_wrap .reduce{
	width: 22px;
    height: 22px;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    text-align:center;
    line-height: 22px;
    float: left;
    margin-right: -1px;
    position: relative;
    z-index: 0;
}
.num_wrap .add{
	width: 22px;
    height: 22px;
    border: 1px solid #d6d6d6;
    background-color: #fff;
    text-align:center;
    line-height: 22px;
    float: right;
    margin-right: -1px;
    position: relative;
    z-index: 0;
}
.cart_list .cart_total {
    color: #f60;
    font-weight: bolder;
    width: 160px;
}
.cart_list .cart_operation {
    width: 79px;
    padding-left: 0;
}
.cart_list .operation_delete {
    cursor: pointer;
    margin-top: 4px;
    font-weight: bold;
    display: block;
}
.activity_top{
	position: relative;
	height: 20px;
    padding:14px 0 14px 20px;
    border-bottom:1px dashed #c8c8c8;
}
.activity_top .line_bottom{
	position: absolute;
    top: 36px;
    left: 26px;
    width: 1px;
    height: 8px;
    border-left: 1px dashed #c8c8c8;
}
.activity_top .activity_icon, .activity_top .activity_desc, .activity_top .activity_handle {
    float: left;
}
.item_detail_activity{
	margin-top:10px;
}
.activity_icon{
	padding:0 7px;
    font-size: 12px;
    text-align: center;
    height: 18px;
    line-height: 18px;
    background-color: #f60;
    border: 1px solid #f60;
    color: #fff;
    margin-right: 8px;
    margin-top:-7px;
}
 .activity_desc{
  font-weight: bold;
  line-height: 20px;
  color: #333;
  font-size: 12px;
  margin-top:-7px;
 }
 .activity_top .activity_handle {
    font-size: 0;
    height: 20px;
      margin-top:-7px;
}
.activity_top .activity_handle .text{
	color:#333;
	font-size:12px;
}
.activity_handle .handle_2{
	display: inline-block;
	font-size: 12px;
    margin-left: 40px;
}
.activity_handle .handle_2 .text{
	padding-right: 6px;
    height: 16px;
    line-height: 1;
    color: #333;
    line-height: 18px;
    display: inline-block;
    font: 12px/1.5 微软雅黑, tahoma,arial,'Hiragino Sans GB',宋体,sans-serif;
}
.activity_top .activity_handle .handle_2 .icon{
	background:url(/resources/front/images/cart_sprite.png) no-repeat;
	background-position: -50px -92px;
    height: 8px;
    width: 6px;
    position: relative;
    display: inline-block;   
}
.cart_bottom_fixed{
	z-index: 10;
    position: fixed;
    bottom: -2px;
}
.cart_bottom_wrap {
    width:1200px;
    margin:0 auto;
    
}
.cart_bottom{
   width:100%;
   max-width: 1200px;
   height: 60px;
   margin-top: 10px;
   padding-left: 10px;
   background-color: #fafafa;
   border: 1px solid #e9e9e9;
   position: relative; 
}

.cart_bottom .cart_sum_left, .cart_bottom .cart_sum_num {
    line-height: 60px;
}
.cart_bottom .cart_sum_left {
    clear: right;
    overflow: hidden;
}
.cart_bottom .cart_sum_choose, .cart_bottom .item_choose_wrap, .cart_bottom .cart_sum_delete, .cart_bottom .cart_sum_collect, .cart_bottom .cart_sum_invalid, .cart_bottom .cart_sum_num, .cart_bottom .cart_sum_price, .cart_bottom .cart_sum_to_order {
    float: left;
}
.cart_bottom .item_choose_wrap {
    margin: 23px 10px 0 0;
}
.item_choose_wrap {
    width: 12px;
    height: 12px;
    border: 1px solid #c8c8c8;
    position: relative;
    z-index: 3;
    background-color: #fff;
    -webkit-border-radius: 1px;
}
.cart_bottom .cart_sum_delete, .cart_bottom .cart_sum_collect, .cart_bottom .cart_sum_invalid {
    margin-left: 40px;
    cursor: pointer;
}
.cart_bottom .cart_sum_right {
    position: absolute;
    right: 0;
    top: 0;
}
.cart_bottom .cart_sum_num, .cart_bottom .cart_sum_price {
    margin-right: 20px;
}
.color_f60 {
    display: inline-block;
    padding: 0 3px;
    color: #f60;
}
.cart_bottom .cart_sum_price {
	display:block;
    margin-top:8px;
    width:120px;
}
.cart_bottom .total_price {
    line-height: 34px;
    height:34px;
}
.cart_bottom .total_price, .cart_bottom .cut_price {
    font-size: 12px;
}
.cart_bottom .total_price_inner {
    color:#f60;
    line-height: 36px;
    font-weight: bolder;
}
.cart_bottom .total_price_inner .js_total_price{
	font-size:22px;
}
.cart_bottom .total_price_inner .js_total_price label{
	font-size:22px;
}

.cart_bottom .cart_sum_to_order{
	color:#fff;
	width: 160px;
    text-align: center;
    font-size: 18px;
    line-height: 60px;
    background-color: #f60;
    cursor: pointer;
}
.cart_bottom .cut_price {
    color: #333;
    line-height: 12px;
    margin-top: 6px;
}
.mod_layer{
	display:none;
	position:fixed;
	top:50%;
	left:50%;
	z-index: 1000;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border: 1px solid #c8c8c8;
    max-width: 600px;
    min-width: 360px;
}
.show {
    display: block !important;
}
.close_ico{
	position: absolute;
    top: 15px;
    right: 15px;
    width: 8px;
    height: 8px;
    cursor: pointer;
    z-index: 1001;
    background:url(/resources/front/images/layer_ico.png)no-repeat;
    background-position:-78px 0;
}
.mod_layer .mod_layer_bd{
	padding: 40px 0;
}
.mod_layer_bd{
	padding: 60px 50px;
    text-align: center;
    font-size: 14px;
    position: relative;
}
.prompt_txt {
    font-size: 18px;
}
.mod_layer_ft::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.mod_layer_ft {
    border-top: 1px solid #e6e6e6;
}
.layer_btn {
    padding: 17px 0;
    font-size: 12px;
    color: #08c;
    text-align: center;
    float: left;
    display: block;
    width: 50%;
    min-width: 30%;
    cursor: pointer;
}
.layer_btn + .layer_btn {
    border-left: 1px solid #e6e6e6;
    margin-left: -1px;
}