<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.ManagerInfoMapper">
	<resultMap type="com.bean.ManagerInfo" id="BaseResultMap">
		<constructor>
			<idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="password" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="realname" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="identity" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="tell" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="extended1" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended2" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended3" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended4" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended5" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended6" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended7" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended8" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended9" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended10" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended11" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended12" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended13" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended14" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended16" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended17" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended18" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended19" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="extended20" jdbcType="VARCHAR" javaType="java.lang.String" />
		</constructor>
	</resultMap>

	<sql id="Base_findManagerInfo_list">
		id,name,password,realname,identity,tell,type,extended1,extended2,extended3,extended4,extended5,extended6,
		extended7,extended8,extended9,extended10,extended11,extended12,extended13,extended14,extended15,extended16,
		extended17,extended18,extended19,extended20
	</sql>
	<select id="findManagerBynametype" parameterType="com.bean.ManagerInfo"
		resultType="ManagerInfo">
		SELECT * from ManagerInfo
		<where>
			<if test="name!=null"> and name=#{name} </if>
			<if test="type!=null"> and type=#{type} </if>
		</where>
	</select>
</mapper>
